<app-topnav>

</app-topnav>
    <ul  class="right">
    <li>
    <app-dropdown>
	  <li class="main btn margin_right15" app-dropdown-collapse>
	    121898 &raquo;
	  </li>
	  <div class="dropdown-menu">
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">ORGANIZATION</div>
	    	<div>{{orgName}}
	    	</div>
	    </div>
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">BRANCH</div>
	    	<div>{{branchNumber}}</div>
	    </div> 
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">SELLER/SERVICER</div>
	    	<div>{{sellerNumber}}</div>
	    </div>
	    <div class="dropdown-divider"></div>
	    <a href="" class="dropdown-item underline" >Change User Context</a>
	  </div>
	</app-dropdown>
	</li>
	</ul>



