<app-topnav>

</app-topnav>
    <ul  class="right">
    <li>
    <app-dropdown>
	  <li class="main btn margin_right15" app-dropdown-collapse>
	    121898 &raquo;
	  </li>
	  <div class="dropdown-menu">
	    <a [href]="menu.href" class="dropdown-item" *ngFor="let menu of dropdownMenu">
	      {{menu.text}}
	    </a>
	    <div class="dropdown-divider"></div>
	    <a href="" class="dropdown-item underline" *ngFor="let Context of dropdownContext">{{Context.text}}</a>
	  </div>
	</app-dropdown>
	</li>
	</ul>

