<body width="100%">
<ul id="ul_top">
	<li>
	<ngb-dropdown>
	  <li ngb-dropdown-togglee class="main btn">
	    Contracts
	  </li>
	  <div class="dropdown-menu">
	    <a href class="dropdown-item" *ngFor="let menu of dropdownMenu">
	      {{menu.text}}
	    </a>
	  </div>
	</ngb-dropdown>
	</li>

	<li>
	<ngb-dropdown>
	  <li ngb-dropdown-togglee class="main btn">
	    Loans
	  </li>
	  <div class="dropdown-menu">
	    <a href class="dropdown-item">Take out Cash Contract</a>
	    <a href class="dropdown-item">Remove Loans from Contract</a>
	    <a href class="dropdown-item">Import Guarantor Contracts</a>	     
	    
	  </div>
	</ngb-dropdown>
	</li>

	<li>
	<ngb-dropdown>
	  <li ngb-dropdown-togglee class="main btn">
	    Bills
	  </li>
	  <div class="dropdown-menu">
	    <a href class="dropdown-item">Form 1034E</a>
	    <a href class="dropdown-item">Note Delivery Cover Sheet</a>
	    <a href class="dropdown-item">Bill of Sale ID</a>  
	    
	  </div>
	</ngb-dropdown>
	</li>

	<li>
	<ngb-dropdown>
	  <li ngb-dropdown-togglee class="main btn">
	    Contracts
	  </li>
	  <div class="dropdown-menu">
	    <a href="" class="dropdown-item">Take of Guarantor Contract</a>
	    <a href="" class="dropdown-item">Pair of Contract</a>
	    <a href="" class="dropdown-item">View Import Contract Results</a> 
	    
	  </div>
	</ngb-dropdown>
	</li>

	<li class="right">
	<ngb-dropdown>
	  <li class="main btn margin_right15" ngb-dropdown-togglee>
	    121898 &raquo;
	  </li>
	  <div class="dropdown-menu">
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">ORGANIZATION</div>
	    	<div>Bank of American,N.A.<br>
	    	(121898, 153552,161026,9000004)
	    	</div>
	    </div>
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">BRANCH</div>
	    	<div>73209</div>
	    </div> 
	    <div class="dropdown-item">
	    	<div class="sub-label-txt">SELLER/SERVICER</div>
	    	<div>121898</div>
	    </div>
	    <div class="dropdown-divider"></div>
	    <a href="" class="dropdown-item underline">Change User Context</a>
	  </div>
	</ngb-dropdown>
	</li>
</ul>
</body>